@tailwind base;
@tailwind components;
@tailwind utilities;

.n_scroll::-webkit-scrollbar {
  display: none;
}

/* btn */
.base_btn_form {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 0.125rem;
  border: 0.0625rem solid;
  border-color: #0050aa;
  display: inline-flex;
  padding: 0.875rem 1rem 0.8125rem;
  background: none;
  color: #0050aa;
  cursor: pointer;
}

.base_btn_form:hover,
.base_btn_form_primary:hover {
  background: #0050aa;
  color: #fff;
  transition: 200ms;
  border-color: transparent;
  background-clip: padding-box;
  box-shadow: inset 3000px 0 rgb(0 0 0 / 32%);
}

.base_btn_form_primary {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 0.125rem;
  border: none;
  display: inline-flex;
  padding: 0.875rem 1rem 0.8125rem;
  background: #0050aa;
  color: #fff;
  cursor: pointer;
}

.form_input {
  width: 100%;
  margin-bottom: 16px;
}

@media (min-width: 960px) {
  .form_input_49 {
    width: 49%;
  }
}

.base_input_form {
  width: 100%;
  border-radius: 0.125rem;
  border: 0.0625rem solid;
  text-overflow: ellipsis;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: #0050aa;
  background: #fff;
  border-color: #4e5761;
  outline-color: #0050aa;
}

.base_textarea_form {
  width: 100%;
  border-radius: 0.125rem;
  border: 0.0625rem solid;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: #0050aa;
  background: #fff;
  border-color: #4e5761;
  outline-color: #0050aa;
}

/* check input */
#checkbox:checked ~ .check-1 {
  @apply text-opacity-100;
}

/* radio input */
.radio {
  width: 100%;
  font-size: 16px;
  /* display: inline-block; */
  vertical-align: middle;
  position: relative;
  @apply text-gray-600;
}

.radio input[type="radio"] {
  display: none;
}

.radio span {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 3px solid #0050aa;
  display: block;
  position: absolute;
  left: 7px;
  top: 11px;
}

.radio span:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #0050aa;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}

/* @media (min-width: 640px) {
  .radio {
    width: 49%;
  }
} */

/* cart info */
.cartitem_product_info {
  width: calc(100% - 6.25rem);
  margin: 0 0 1.25rem 0;
}

@media (min-width: 640px) {
  .cartitem_product_info {
    width: calc(100% - 20.125rem);
  }
}

@media (min-width: 1024px) {
  .cartitem_product_info {
    width: calc(100% - 31.325rem);
  }
}

/* number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* check input */
#deli_address:checked ~ .check-1 {
  @apply text-opacity-100;
}

/* quill */
/* Set content for font-families */
.ql-font-arial,
.ql-font span[data-value="arial"]::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
  font-family: "Courier New";
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-Inter,
.ql-font span[data-value="Inter"]::before {
  font-family: "Inter", sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value="extra-small"]::before {
  font-size: 13px !important;
}
.ql-size-small,
.ql-size span[data-value="small"]::before {
  font-size: 14px !important;
}
.ql-size-medium,
.ql-size span[data-value="medium"]::before {
  font-size: 18px !important;
}
.ql-size-large,
.ql-size span[data-value="large"]::before {
  font-size: 20px !important;
}

.ql-editor {
  min-height: 50vh;
  font-size: 16px;
}
.App .ql-snow .ql-tooltip.ql-flip {
  width: auto;
  left: 17px !important;
  white-space: normal;
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }
  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }
  .container .ql-toolbar.ql-snow {
    display: none;
  }
}

/* dashboard */
.tile_stats_count::before {
  content: "";
  position: absolute;
  left: 0;
  height: 65px;
  border-left: 2px solid #adb2b5;
  margin-top: 10px;
}

.tile_stats_count:first-child::before {
  border-left: 0;
}
